div{
  background-color: brown;
  color:cornsilk;
  text-align: center;
  margin: 10px;
  border: 2px solid black;
}
body{
  background-color: pink;
}
.class{
  text-align: left;
}
/* div{
  width: 100px;
  height: 100px;
} */